*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: #191a2b;
}

.service-wrapper{
    padding: 5% 8%;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 2px;
    background-color: rgb(4, 52, 83);
    background: linear-gradient(8deg, rgba(8,52,83,1) 0%, rgba(0,230,173,1) 41%, rgba(41,17,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.05);
}

.trophy-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}

.trophy-card{
    height: 350px;
    width: 370px;
    background-color: #1c2335;
    padding: 3% 8%;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.trophy-card:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.trophy-card:hover:after {
    width: 225%;
    top: -100%;
}

.trophy-card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.trophy-card p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}

.trophy-card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: red;
}
.img-style{
    margin-top: 30px;
}

@media screen and (max-width:1260px){
    .trophy-cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:900px) {
    .trophy-cards{
        grid-template-columns: repeat(1,1fr);
    }
    h1{
        font-size: 3.5rem;
    }
}
