.divider {
    height: 10px;
    background-color: black;
    margin: 20px 0px 20px 0px; 
}

.allNews{
    background-color: white;
    max-width: 600px;
    overflow: hidden;  /*max-width exceed korle baki part dekhbe naa eita dewate*/
    display: block; 
}

.editButton {
    background-color: #90EE90;
    color: rgb(6, 5, 5);
    border: 2px solid #008000;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
}

.deleteButton {
    background-color: #90EE90;
    color: rgb(6, 5, 5);
    border: 2px solid #008000;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
}