@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

body {
    font-family: 'Fjalla One', sans-serif;
}

.fixture-page {
    padding-top: 25px; 
    min-height: 100vh;
    background-color: rgb(89, 3, 3);
}

.fixture-page .title {
    background-color: rgb(183, 46, 46);
    font-size: 2.4rem;
    color: white;
    margin: 10px 0;
    padding: 8px 0 8px 58px;
    font-family: 'Fjalla One', sans-serif;
}

.all-fixtures {
    padding: 0px 0px 0px 0px;
    margin: 40px 170px 70px 170px;
}

.single-fixture-card {
    padding: 0;
    margin: 20px 0 0px 0;
}

.single-fixture-info {
    padding: 0;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.666);
    /* border-right: 9px solid rgb(207, 27, 27);
    border-left: 9px solid rgb(207, 27, 27);
    border-bottom: 7px solid rgb(6, 6, 6); */
    border-radius: 10px;
}

.info-header {
    background-color: rgb(234, 233, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 22px;
    /* border: 4px solid rgb(6, 6, 6);
    border-left: none;
    border-right: none;  */
    border-radius: 10px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 10px;
}

.match-date, .match-venue {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
}

.match-venue {
    font-size: 2rem;
}

.header-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-comp-logo {
    width: 190px;
    height: auto;
}

.header-comp-logo:hover {
    transition: 0.3s;
}

.info-body {
    display: grid;
    grid-template-columns: 2.5fr 1fr 2.5fr; 
    align-items: center;
    justify-items: center;
    padding: 30px 5px 20px 5px;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-fixture-team-name {
    font-size: 3rem;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.single-fixture-team-logo {
    height: auto;
    width: auto;
    margin-bottom: 10px; 
}

.single-fixture-teamLogo-itself {
    height: 180px;
    width: auto;
}

.single-fixture-versus {
    font-size: 3rem;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.single-fixture-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 233, 233);
    border-radius: 20px; 
    padding: 10px 0;
    gap: 0px;
    margin: 10px auto 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 50%; 
    max-width: 800px; 
}

.form-text {
    font-size: 1.4rem;
    font-family: 'Fjalla One', sans-serif;
    text-align: right;
    width: auto; 
    margin-right: 20px; 
}

.form-results {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.form-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: white;
}

.form-result.w {
    background-color: rgb(49, 173, 49);
}

.form-result.d {
    background-color: rgb(249, 249, 84);
    color: black;
}

.form-result.l {
    background-color: rgb(196, 33, 33);
}

.extender {
    height: 13px;
}

.info-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgb(200, 200, 200);
}

.footer-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 2490px) {
    .all-fixtures {
        margin: 40px 400px 10px 400px;
    }
}

@media screen and (max-width: 1500px) {
    .all-fixtures {
        margin: 40px 300px 10px 300px;
    }
    .match-date{
        font-size: 1rem;
    }
    .match-venue {
        font-size: 1.7rem;
    }
    .header-comp-logo {
        width: 170px;
    }
    .single-fixture-team-name {
        font-size: 2.4rem;
    }
    .single-fixture-teamLogo-itself {
        height: 150px;
    }
    .single-fixture-versus {
        font-size: 2.8rem;
    }
    .single-fixture-form {
        width: 60%;
    }
    .form-text {
        font-size: 1.2rem;
    }
    .form-result {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1300px) {
    .all-fixtures {
        margin: 40px 240px 10px 240px;
    }
    .match-date{
        font-size: 1rem;
    }
    .match-venue {
        font-size: 1.7rem;
    }
    .header-comp-logo {
        width: 170px;
    }
    .single-fixture-team-name {
        font-size: 2.4rem;
    }
    .single-fixture-teamLogo-itself {
        height: 150px;
    }
    .single-fixture-versus {
        font-size: 2.8rem;
    }
    .single-fixture-form {
        width: 60%;
    }
    .form-text {
        font-size: 1.2rem;
    }
    .form-result {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1200px) {
    .all-fixtures {
        margin: 40px 200px 10px 200px;
    }
    .match-date{
        font-size: 1rem;
    }
    .match-venue {
        font-size: 1.7rem;
    }
    .header-comp-logo {
        width: 170px;
    }
    .single-fixture-team-name {
        font-size: 2.4rem;
    }
    .single-fixture-teamLogo-itself {
        height: 150px;
    }
    .single-fixture-versus {
        font-size: 2.8rem;
    }
    .single-fixture-form {
        width: 60%;
    }
    .form-text {
        font-size: 1.2rem;
    }
    .form-result {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1100px) {
    .all-fixtures {
        margin: 20px 95px 10px 95px;
    }
}

@media screen and (max-width: 1030px) {
    .all-fixtures {
        margin: 40px 90px 10px 90px;
    }
    .match-date{
        font-size: 1rem;
    }
    .match-venue {
        font-size: 1.5rem;
    }
    .header-comp-logo {
        width: 160px;
    }
    .single-fixture-team-name {
        font-size: 2.2rem;
    }
    .single-fixture-teamLogo-itself {
        height: 140px;
    }
    .single-fixture-versus {
        font-size: 2.6rem;
    }
    .single-fixture-form {
        width: 60%;
    }
    .form-text {
        font-size: 1.1rem;
    }
    .form-result {
        font-size: 1.0rem;
    }
    .form-results {
        gap: 6px;
    }
    
    .form-result {
        width: 25px;
        height: 25px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 710px) {
    .all-fixtures {
        margin: 40px 70px 10px 70px;
    }
    .match-date{
        font-size: 0.9rem;
    }
    .match-venue {
        font-size: 1.3rem;
    }
    .header-comp-logo {
        width: 130px;
    }
    .single-fixture-team-name {
        font-size: 2rem;
    }
    .single-fixture-teamLogo-itself {
        height: 120px;
    }
    .single-fixture-versus {
        font-size: 2.2rem;
    }
    .single-fixture-form {
        width: 70%;
    }
    .form-text {
        font-size: 1.0rem;
    }
    .form-result {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 710px) {
    .all-fixtures {
        margin: 40px 40px 10px 40px;
    }
    .match-date{
        font-size: 0.7rem;
    }
    .match-venue {
        font-size: 1.0rem;
    }
    .header-comp-logo {
        width: 105px;
    }
    .single-fixture-team-name {
        font-size: 1.6rem;
    }
    .single-fixture-teamLogo-itself {
        height: 90px;
    }
    .single-fixture-versus {
        font-size: 1.7rem;
    }
    .single-fixture-form {
        width: 80%;
    }
    .form-text {
        font-size: 0.8rem;
    }
    .form-result {
        font-size: 0.7rem;
    }

    
}

@media screen and (max-width: 450px){
    .form-result {
        width: 20px;
        height: 20px;
        font-size: 0.8rem;
    }
    .form-results {
        gap: 3px;
    }
    .header-comp-logo {
        width: 85px;
    }
}

@media screen and (max-width: 390px){
    .match-date{
        font-size: 0.6rem;
    }
    .match-venue {
        font-size: 0.7rem;
    }
    .header-comp-logo {
        width: 80px;
    }
    .single-fixture-team-name {
        font-size: 1.3rem;
    }
    .single-fixture-teamLogo-itself {
        height: 70px;
    }
    .single-fixture-versus {
        font-size: 1.3rem;
    }
}