.home {
    display: grid;
    grid-template-columns: 7fr 4fr; 
    gap: 20px; 
    padding: 20px;
    background-image: url('https://images5.alphacoders.com/115/thumb-1920-1157178.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1; 
}

.news .card, .score, .fixture {
    background-color: rgba(224, 224, 224, 0.9); 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.news .card:hover, .score:hover, .fixture:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

.news .card {
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    padding: 0; 
    cursor: pointer;
}

.news .card-media {
    position: relative;
    overflow: hidden;
}

.news .card-image {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease; 
}

.news .card:hover .card-image {
    transform: scale(1.1); 
}

.news .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: left;
}

.news .card-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.news .card-body {
    margin-top: 10px;
    font-size: 1rem;
}

@media (max-width: 1280px) {
    .home {
        grid-template-columns: 1fr; 
    }

    .left-column, .right-column {
        flex-direction: row; 
        flex-wrap: wrap; 
        gap: 20px;
        padding-top: 18px;
    }

    .news, .score, .fixture {
        width: 100%; 
        box-sizing: border-box; 
    }

    .left-column {
        margin-bottom: 20px;
    }
}
