
.newsPage{
  background-color: rgba(58, 5, 5, 0.875);
}

.pageTitle {
  background-color: transparent;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins";
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px; 
    padding: 20px;
  }
  

  @media (max-width: 1024px) {
    .news-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .news-grid {
      grid-template-columns: 1fr; 
    }
  }
  