@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.signup-form {
    background-color: transparent;
}

.signup-body{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  min-height: 100vh;
  background: url('../assets/LoginAssets/BG4.jpg');
  background-size: cover;
  background-position: center;

}

.signup-wrapper{
  border-radius: 20px;
  width: 340px;
  background: transparent;
  border: 2px solid rgba(62, 5, 5, 0.2);
  box-shadow: 2px solid rgba(255, 255, 255, 0.2);;
  backdrop-filter: blur;
  color: #fff;
  padding: 30px 40px;
}

.signup-wrapper h1{
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-align: center;
}

.signup-wrapper .signup-input-box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.signup-input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  gap: 20px;
}

.signup-input-box input::placeholder{
  color: #ffffff;
}

.signup-wrapper a{
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.signup-wrapper a:hover{
  text-decoration: underline;
}

.signup-wrapper .signup-btn{
  margin-top: 10%;
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;  

}

.signup-wrapper .signup-btn:hover{
  color: #fff;
  background: #333;
}

.signup-wrapper .login-link {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.login-link p a{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-link p a:hover{
  color: red;
  text-decoration: underline;
}


